.footer-container{
    background-color: #ececec8f;
}

.footer-container h1{
    font-family: 'Quicksand';
    font-weight: 700;
    color: #042959;
}

.footer-container p{
    font-family: 'Manrope';
    font-weight: 300;
    color: #003d8f;
}

.footer-container img{
    height: 54%;
}