<div class="md:m-4">
    <swiper
      [slidesPerView]="3"
      navigation = true
      effect = "fade"
    >
      <ng-template swiperSlide *ngFor="let blog of listOfTrendingBlogs">
          
          <div class="w-5/6 blog-content mt-8 mb-8">
            <img class="blog-display" src={{blog.coverPic}}/>
            <h1>{{blog.title}}</h1>
            <p>Double your typing speed. Learn touch-typing in a fun way. Test your speed and accuracy. Play top-notch typing games</p>
            <div class="grid grid-cols-5 mt-8">
                <div class="grid grid-cols-2 w-4/7">
                    <span style="color: #ED5622;">11</span>
                    <img style="width: 50%;"class="" src="../../assets/like-icon.svg"/>
                </div>
                <div class="grid grid-cols-2 w-4/7">
                    <span style="color: #F29F05;">4k</span>
                    <img style="width: 50%;"  class="" src="../../assets/fork-icon.svg"/>
                </div>
                <div class="grid grid-cols-2 w-4/7">
                    <span style="color: #2E7F33;">10</span>
                    <img style="width: 50%;" class="" src="../../assets/comment-icon.svg"/>
                </div>
                <div class="grid grid-cols-2 w-4/7">
                    <span>11</span>
                    <img style="width: 50%;" class="" src="../../assets/views-icon.svg"/>
                </div>
                <div class="grid grid-cols-2">
                    <span>updated: </span>
                    <p class="time-occurance"><strong>Now</strong></p>
                </div>
            </div>
            <button class="mt-8 read-article-button"><a  routerLinkActive="active"  [routerLink]="['/read-blog']">React article</a></button>
          </div>
      </ng-template>
      <ng-template swiperButtonNext></ng-template>
      <ng-template swiperButtonPrev></ng-template>
      
    </swiper>
</div>