<div>
    <home-navbar></home-navbar>
    <div class="grid md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 2xl:grid-cols-2 sm:grid-cols-1">
        <div class="p-8">
            <h1 class="welcome-main-header font-bold text-2xl">Time to Get Your Codes <br/>Clean and in Order.</h1>
            <h3 class="welcome-desc-header">The longer it takes for a bug <br />to surface, the harder it is to find.</h3>
            <button class="flex items-center welcome-read-button"><span>Read</span> <svg class="ml-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path fill="none" d="M0 0h24v24H0z"/><path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" fill="rgba(255,255,255,1)"/></svg> </button>
        </div>
        <div>.</div>
    </div>
</div>