.welcome-main-header{
    font-family: 'Manrope';
    color: #042959;
}

.welcome-desc-header{
    font-weight: lighter;
    color: #042959;
}

.welcome-read-button{
    background: #038C65;
    color: white;
    padding: 10px 50px;
    border-radius: 3px;
    font-family: 'Manrope';
}
.welcome-read-button:hover{
    transform: scale(1.04);
    transition: ease-in-out 0.3s;
    background-color: #0a5540;
}

.welcome-blog-heads{
    margin-left: 62px;
    font-size: 22px;
    font-family: 'Manrope';
    font-weight: 700;
    color: #042959;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .welcome-desc-header{
        font-size: 22px;
        margin-top: 24px;
        margin-left: 24px;
    }
    .welcome-main-header{
        font-size: 22px;
        padding-left: 23px;
        margin-top: 40px;
    }

    .welcome-read-button{
        margin-left: 27px;
        font-size: 13px;
        margin-top: 32px;
    }
    .welcome-image img{
        margin-left: 17px;
        width: 336px;
        display: none;
    }
    
}