.welcome-main-header{
    font-family: 'Manrope';
    color: #042959;
}

.welcome-desc-header{
    font-weight: lighter;
    color: #042959;
}

.welcome-read-button{
    background: #038C65;
    color: white;
    padding: 10px 50px;
    border-radius: 3px;
    font-family: 'Manrope';
}
.welcome-read-button:hover{
    transform: scale(1.04);
    transition: ease-in-out 0.3s;
    background-color: #0a5540;
}

.welcome-blog-heads{
    margin-left: 85px;
    font-size: 22px;
    font-family: 'Manrope';
    font-weight: 700;
    color: #042959;
}

.sliding-container{
    
}