<div>
    <home-navbar></home-navbar>
    <div class="grid md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 2xl:grid-cols-2 sm:grid-cols-1">
        <div class="md:pl-16">
            <h1 class="text-base welcome-main-header  font-bold md:leading-10 md:text-4xl md:mt-24">Time to Get Your Codes <br/>Clean and in Order.</h1>
            <h3 class="welcome-desc-header md:text-3xl md:mt-8">The longer it takes for a bug <br />to surface, the harder it is to find.</h3>
            <button class="flex items-center welcome-read-button md:mt-12 focus:outline-none"><span>Read</span> <svg class="ml-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 11V8l4 4-4 4v-3H8v-2h4zm0-9c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2zm0 18c4.42 0 8-3.58 8-8s-3.58-8-8-8-8 3.58-8 8 3.58 8 8 8z" fill="rgba(255,255,255,1)"/></svg></button>
        </div>
        <div class="welcome-image">
            <img src="../../assets/welcome-icon.svg" class="w-2/3 mt-12 md:ml-14"/>
        </div>
    </div>
    <div class="mt-14">
        <h1 class="welcome-blog-heads">Trending Blogs</h1>
        <div class="md:pl-14 md:pr-12">
            <trending-blogs></trending-blogs>
        </div>
        <h1 class="welcome-blog-heads mt-24">Other Blogs</h1>
        <div  class="md:ml-16">
            <other-blogs></other-blogs>
        </div>
    </div>
    <div class="mt-32">
        <app-footer-page></app-footer-page>
    </div>
</div>