.logo-design{
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 19px;
    color: #042959;
}
@media only screen and (min-width: 768px){
    .logo-design{
        margin-left: -37px;
        font-size: 25px;
    }
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) 
{
    .logo-design{
        margin-left: -35px;
        font-size: 25px;
    }
}
.navbar-header{
    position: sticky !important;
    top: 0px !important;
    z-index: 14;
    background: #ffffffed;
}

.navbar-links ul li a span{
    font-size: 17px;
    font-weight: 500;
    font-family: Manrope;
    color: #042959;
}

.subscribe-button{
    background-color: #08428C;
    margin-left: 39px;
    border-radius: 6px;
    padding: 14px 38px;
}

.subscribe-button:hover{
    background-color: #1170ec;
    transform: scale(1.01);
    transition: ease-in-out 0.3s;
}

.subscribe-button span{
    color: white !important;
    font-size: 14px !important;
}