<nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-pink-500 mb-3">
    <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
      <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
        <a class="logo-design text-sm font-bold leading-relaxed inline-block mr-4 whitespace-nowrap" href="#pablo">
          fix&fork
        </a>
        <button class=" cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" (click)="toggleNavbar()">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <div [ngClass]="{'hidden': !showMenu, 'flex': showMenu}" class="navbar-links lg:flex lg:flex-grow items-center">
        <ul class="flex flex-col lg:flex-row list-none ml-auto">
          <li class="nav-item">
            <a class="px-3 py-2 flex items-center text-xs font-bold leading-snug  hover:opacity-75" href="#pablo">
              <span class="ml-2">About</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="px-3 py-2 flex items-center text-xs font-bold leading-snug  hover:opacity-75" href="#pablo">
                <span class="ml-2">Tutorials</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="px-3 py-2 flex items-center text-xs font-bold leading-snug  hover:opacity-75" href="#pablo">
                <span class="ml-2">Questions</span>
            </a>
          </li>
          <li class="nav-item mt-2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M10 7a7 7 0 0 0 12 4.9v.1c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2h.1A6.979 6.979 0 0 0 10 7zm-6 5a8 8 0 0 0 15.062 3.762A9 9 0 0 1 8.238 4.938 7.999 7.999 0 0 0 4 12z"/></svg>
          </li>
          <li class="nav-item">
            <a class="subscribe-button px-3 py-2 flex items-center text-xs font-bold leading-snug  hover:opacity-75" href="#pablo">
              <i class="fab fa-pinterest text-lg leading-lg  opacity-75"></i><span class="ml-2">subscribe</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>