.logo-design{
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 19px;
    color: #042959;
}

.navbar-links ul li a span{
    font-size: 17px;
    font-weight: 500;
    font-family: Manrope;
    color: #042959;
}