

@media only screen and (min-width: 768px){
    .blog-details-container{
        width: 220%;
        margin-left: -301px;
    }
    .blog-details-container-left{
        margin-left: 257px;
        position: sticky;
        top: 20px;
    }

    .blog-details-container img{
        width: 980px;
        height: 377px;
    }
}

.left-actions img{
    border: 1px solid #3a3e3e3b;
    padding: 13px;
    height: 51px;
    width: 51px;
    border-radius: 6px;
    cursor: pointer;
}

.left-actions p{
    border: 1px solid #17161615;
    background: white;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 31px;
    padding: 6px;
    position: relative;
    left: -22px;
    top: -19px;
    box-shadow: 0 2px 4px #0000000a;
    font-weight: 500;
    font-family: 'Manrope';
    font-size: 14px;
}
.right-actions img{
    border: 1px solid #3a3e3e3b;
    padding: 13px;
    height: 51px;
    width: 51px;
    border-radius: 6px;
    cursor: pointer
}

.blog-details-container{
    font-family: 'Manrope';
    padding: 10px;
}
.blog-details-container .blog-title{
    margin-left: 16%;
    color: #003D79;
    font-weight: 700;
    line-height: 50px
}

.blog-paragraph{
    line-height: 29px;
    font-weight: 400
}
.blog-details-container .comment-section{
    border-top: 1px solid #73A7CC;
    margin-top: 200px;
}