

@media only screen and (min-width: 768px){
    .blog-details-container{
        width: 221%;
        margin-left: -301px;
    }
    .blog-details-container-left{
        margin-left: 257px;
        position: sticky;
        top: 20px;
    }
}