<home-navbar></home-navbar>
<div class="grid md:grid-cols-3 sm:grid-cols-1">
    <div class="sticky w-2/6">
        <div class="md:ml-8 md:mt-4 left-actions flex">
            <img src="../../assets/fork-icon-2.svg"/>
            <p>{{blogDetails.forks}}k</p>
        </div>

        <div class="md:ml-8 md:mt-14 left-actions flex">
            <img src="../../assets/views-icon-2.svg"/>
            <p>{{11}}</p>
        </div>

        <div class="md:ml-8 md:mt-14 left-actions flex">
            <img src="../../assets/like-icon-2.svg"/>
            <p>{{blogDetails.likes}}</p>
        </div>

        <div class="md:ml-8 md:mt-14 left-actions flex">
            <img src="../../assets/comment-icon-2.svg"/>
            <p>{{blogDetails.comments}}</p>
        </div>

        <div class="md:ml-8 md:mt-14 left-actions flex">
            <img src="../../assets/github-icon-2.svg"/>
        </div>
    </div>
    <div class="blog-details-container md:mt-8">
        <img src={{blogDetails.coverPic}}/>
        <h2 class="blog-title text-center text-3xl pt-8 capitalize w-4/6">{{blogDetails.title}}</h2>
        <p class="blog-paragraph mt-12">{{blogDetails.description}}</p>
        <p class="blog-paragraph mt-12">{{secondParagraphy}}</p>
        <div class="comment-section">
            <div class="comment-container flex mt-8">
                <p>AC</p>
                <div>
                    <p class="font-bold" style="color: #041121e5;font-size: 16px;">Anonymous Contributor</p>
                    <p class="text-xs">3hours ago</p>
                    <p style="color: #041121b0;font-weight: 700;">Thank you so much for this great blog.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-details-container-left ">
        <div>
            <div class="md:ml-12 md:mt-4 right-actions flex">
                <img src="../../assets/slideshow-icon.svg"/>
            </div>
    
            <div class="md:ml-12 md:mt-14 right-actions flex">
                <img src="../../assets/edit-icon-2.svg"/>
            </div>
        </div>
    </div>
</div>