<home-navbar></home-navbar>
<div class="grid md:grid-cols-3 sm:grid-cols-1">
    <div class="w-2/6">
        <div class="md:ml-8 md:mt-4 left-actions flex">
            <img src="../../assets/fork-icon-2.svg"/>
            <p>89</p>
        </div>

        <div class="md:ml-8 md:mt-14 left-actions flex">
            <img src="../../assets/views-icon-2.svg"/>
            <p>2k</p>
        </div>

        <div class="md:ml-8 md:mt-14 left-actions flex">
            <img src="../../assets/like-icon-2.svg"/>
            <p>11k</p>
        </div>

        <div class="md:ml-8 md:mt-14 left-actions flex">
            <img src="../../assets/comment-icon-2.svg"/>
            <p>3</p>
        </div>

        <div class="md:ml-8 md:mt-14 left-actions flex">
            <img src="../../assets/github-icon-2.svg"/>
        </div>
    </div>
    <div class="blog-details-container md:mt-8">
        <img src="../../assets/blog-details-image.jpg"/>
        <h2 class="blog-title text-center text-3xl pt-8 capitalize w-4/6">Tips to master while studying typing master and their importance</h2>
    </div>
    <div class="blog-details-container-left ">
        <div>
            <div class="md:ml-12 md:mt-4 right-actions flex">
                <img src="../../assets/slideshow-icon.svg"/>
            </div>
    
            <div class="md:ml-12 md:mt-14 right-actions flex">
                <img src="../../assets/edit-icon-2.svg"/>
            </div>
        </div>
    </div>
</div>