<div class="grid md:grid-cols-3 sm:grid-cols-1">
    <div *ngFor="let blog of listOfAllBlogs" class="w-5/6 blog-content mt-14 mb-8">
        <img class="blog-display" src={{blog.coverPic}}/>
        <h1>{{blog.title}}</h1>
        <p>{{blog.description}}</p>
        <div class="grid grid-cols-5 mt-8">
            <div class="grid grid-cols-2 w-4/7">
                <span style="color: #ED5622;">{{blog.likes}}</span>
                <img style="width: 50%;"class="" src="../../assets/like-icon.svg"/>
            </div>
            <div class="grid grid-cols-2 w-4/7">
                <span style="color: #F29F05;">{{blog.forks}}k</span>
                <img style="width: 50%;"  class="" src="../../assets/fork-icon.svg"/>
            </div>
            <div class="grid grid-cols-2 w-4/7">
                <span style="color: #080a08;">{{blog.comments}}</span>
                <img style="width: 50%;" class="" src="../../assets/comment-icon.svg"/>
            </div>
            <div class="grid grid-cols-2 w-4/7">
                <span>11</span>
                <img style="width: 50%;" class="" src="../../assets/views-icon.svg"/>
            </div>
            <div class="grid grid-cols-2">
                <span>updated: </span>
                <p class="time-occurance"><strong>Now</strong></p>
            </div>
        </div><br /><br />
        <a class="mt-4 read-article-button"  routerLinkActive="active"  [routerLink]="['/read-blog']">React article</a>
      </div>
</div>
